body {
    text-align: center;
    background: #e5e8f4;
}

.container-fluid {
    background-color: #fff;
}
.header-container {
    flex-direction: column;
    background: linear-gradient(to left, #9198e5, #527dbc);
}

.center-content {
    justify-content: center;
    text-align: center;
}


div {
    font-weight: 100;
    font-size: 3rem;
    font-family: Roboto;
}

.desc {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .04em;
}

.meter {
    padding: .5em;
    font-size: 0.9rem;
    max-width: 18%!important;
    color: #fff;
    text-shadow: 0 0 3px rgba(157, 213, 244, .7);
}

.meter-container {
    padding: 1.5em 0em 1.5em 0em;
}

#header {
    font-weight: 300;
    color: #9dd5f4;
    text-shadow: 0 0 6px rgba(157, 213, 244, .5);
}

.inputFirst,
.inputSecond {
    font-weight: 100;
    font-size: 1.9em;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #f1f3fb;
}



.contentBox h1 {
    font-size: 1.5rem;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    color: #6f6d84;
    border-left: 3px solid rgba(120, 197, 100, 0.5);
    padding-left: .9em;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: left;
}

.contentBox p {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: justify;
}

iframe {
    max-width: 100%;
}

input {
    border: 0px;
    width: 1px;
    outline: none;
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
}

#leftWord {
    direction: rtl;
    white-space: nowrap;
    width: 50%;
    padding-right: 0  !important;
}

#rightWord {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    max-width: 98%;
}

#leftWord, #right-col {
    height: 80%;
}

#right-col {
    padding-left: 0 !important;
}

footer {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: Colfax,sans-serif;
    color: #5d5c69;
}

.nav-link {
    color: rgb(232, 241, 241);
}

.nav {
    font-size: 1.2rem;
    background-color: rgba(63, 50, 50, .2);
}

#mid-row {
    background-color: #fff !important;
    padding-top: 40px;
    margin-bottom: 40px;
}

.adv {
    background-color: #f1f3fb;
    padding: 2em;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}


.contentBox {
    background-color: #f1f3fb;
}

.adv-video {
    width: 100%;
    height: 100%;
}

.text-cont {
    height: 100px;
    align-items: center;
}

.grey-back {
    background-color: #f1f3fb;
}

.popup-overlay {
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(35, 35, 60, .5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup-container {
    position: absolute;
    z-index: 999999;
}

.popup-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

.popup-window {
    text-align: center;
    position: relative;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    font-weight: 300;
    box-shadow: 0 0 30px 0 rgba(35, 35, 60, .7);
}

.popup-header {
    padding: 30px;
    border-radius: 5px;
    font-size: .8em;
    background: linear-gradient(45deg, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 8%, rgba(183, 222, 237, 1) 64%);
}

.popup-body {
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 8px 8px 0 0;
    float: right;
}


.half-width, .popup-body {
    width: 50%;
}
.popup-footer {
    padding: 30px;
    background-color: #f5f5f6;
    border-radius: 0 0 8px 8px;
}


