body {
    font-family: 'Roboto' !important;
    font-size: 16px;
    text-align: center;
    background: #e5e8f4;
    }
  
  div
  {
    font-weight: 100;
    font-size: 40px;
    font-family: Roboto;
  }
  
  .counter {
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 100!important;
    letter-spacing: -.04em;
    text-shadow: 0 0 3px rgba(157,213,244,.8);
  }
  
  .desc {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    text-shadow: 0 0 3px rgba(157,213,244,.7);
    letter-spacing: .04em;
  }
  
  #header {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center ;
    margin: 0;
    padding: .5em 1em;
    letter-spacing: -.04em;
    font-weight: 300;
    color: #9dd5f4;
    text-shadow: 0 0 6px rgba(157,213,244,.5);
  }
  
  .inputFirst, .inputSecond {
    font-weight: 100;
    font-size: 1.9em;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .meter {
    display: inline-block;
    padding: .5em;
    font-size: 14px;
    text-align: center;
    max-width:18%!important;
  }
  
  .cont {
    padding: 2.5em 0em 2.5em 0em;
  }
  
  .adv {
    background-color:#f1f3fb !important;
      text-align: center ;
      padding: 2em 1em;
  }
  
  .contentBox {
    max-width: 50% !important;
      min-width: 340px;
      padding: 1em 2em ;
      display: inline-block !important;
      text-align: left;
      vertical-align: top;
      -webkit-transition-duration: .5s;
      transition-duration: .5s;
  
  }
  .contentBox h1 {
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #6f6d84;
    border-left: 3px solid rgba(120, 197, 100, 0.5);
    padding-left: .9em;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
  .contentBox p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify;
  }
  
  iframe {
    max-width: 100%;
  }
  
   img {
    max-width: 60px;
  
  }
  
input {
    border: 0px;
    width: 1px;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
  }
  

  #leftWord {
    direction: rtl;
    white-space: nowrap;
    width: 50%;
    
  }
  
  #rightWord {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    max-width: 98%;
  }

  #right-col {
    width: 50%;
  }
  

  .popup-window {
      text-align: left;
      position: relative;
      padding: 0;
      max-width: 480px;
      width: 100%;
      background-color: #fff;
      border-radius: 8px;
      display: inline-block;
      font-weight: 300;
      box-shadow: 0 0 30px 0 rgba(35,35,60,.7);
  }
  
  .popup-overlay {
      position: fixed;
      display: table;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background-color: rgba(35,35,60,.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  .popup-wrapper {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      height: 100%;
  }
  .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      color: hsla(0,0%,100%,.4);
      text-decoration: none;
      cursor: pointer;
      border-radius: 50%;
      background-color: hsla(0,0%,100%,.1);
  }
  .popup-header {
      padding: 30px;
      border-radius: 5px;
      font-size: .8em;
      background: linear-gradient(45deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 8%, rgba(183,222,237,1) 64%);
  }
  .popup-body {
      box-sizing: border-box;
      padding: 50px 30px;
      border-radius: 8px 8px 0 0;
  }
  .popup-footer {
      padding: 30px;
      background-color: #f5f5f6;
      border-radius: 0 0 8px 8px;
  }
  
  #popupmid, #popupgood, #popupbad {
    display:none;
  }
  
  .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50%;
  }

  footer {
    padding-top: 50px;
    font-size: 0.5em;
    text-align: center;
    background-color: #f1f3fb;
  }

  .nav-link {
    font-weight: 400;
    padding: 1rem 1rem !important;
    color: rgb(232, 241, 241);
  }

  .nav-item {
    font-size: 20px;
    margin: 0 10px;
    font-weight: 300;
  }

.nav {
    height: 60px;
    box-sizing: border-box;
    background-color: rgba(63,50,50,.2);
    z-index: 9999;
}

.nav-link:hover {
  color: #fff;
  transition-property: 2s;
}

#mid-row {
  background-color: #fff !important;
  padding-top: 40px;
  margin-bottom: 40px;
}